In [1]:
import pandas as pd
import numpy as np

df=pd.read_csv("total_train_data.csv")
df.head(4)

                                 query  intent
0                                  헬로우       0
1                                   헬로       0
2                           안부 인사드립니다.       0
3  먼저 인사하려고 했는데 짝남이 먼저 인사해줬어. 더 떨렸겠어요.       0

In [2]:
df.iloc[:,1].value_counts()

3    53086
2    39060
4     5290
5     3570
6     2963
1     1590
0      121
Name: intent, dtype: int64

In [4]:
import json
 
# 테스트용 Python Dictionary
customer = {
    'id': 152352,
    'name': '강진수',
    'history': [
        {'date': '2015-03-11', 'item': 'iPhone'},
        {'date': '2016-02-23', 'item': 'Monitor'},
    ]
}
 
# JSON 인코딩
jsonString = json.dumps(customer)
 
# 문자열 출력
print(jsonString)
print(customer['name'])

{"id": 152352, "name": "\uac15\uc9c4\uc218", "history": [{"date": "2015-03-11", "item": "iPhone"}, {"date": "2016-02-23", "item": "Monitor"}]}
강진수